.header{
  user-select: none;
  height: 80px;
  width: 100vw;
  position: fixed;
  top: 0;
  background: black;
  display: flex;
  align-items: center;
  justify-content: space-between;

}


.header-txt{
  font-family: 'Fredoka One', cursive;
  font-size: 4rem;
  color: white;
}
.header-username{
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Fredoka One', cursive;
  font-size: 1.5rem;
  color: white;
  width: 150px;
  margin-right: 50px;
  height: 50px;
}
@media screen and (max-width: 800px) {
  .header-txt {
    font-size: 2.5rem;
  }
}

.left-div{
  display: flex;
  width: 30vw;
  justify-content: space-between;

}
.right-div{
  display: flex;
  width: 30vw;
  justify-content: right;
}

.remove-word{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 15vw;
  outline: 3px solid #21181c;
  background: #3a3636;
  border-radius: 2px;
  color: white;
  font-size: 1.5rem;
  font-family: 'Fredoka One', cursive;
  transition: 0.2s;

}