.word-zone{
  width: 100vw;
  height: calc(100vh - 190px);
  overflow-y: scroll;
  overflow-x: hidden;
  background: #f5f5f5;
  position: relative;
  top: 80px;
  bottom: 50px;
  display: flex;
  scroll-behavior: smooth;
  justify-content: center;
}
.word-zone::-webkit-scrollbar {
  display: none;
}
.word-zone {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.word-zone-inner{
  padding-top: 10px;
  flex-direction: column;
  width: 60vw;
  height: calc(100%);
  display: flex;
  align-items: center;
}
@media screen and (max-width: 800px) {
  .word-zone-inner {
    width: 90%;
  }
}

.no-words{
  margin-top: 20px;
  user-select: none;
  font-family: 'Fredoka One', cursive;
  font-size: 3rem;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
}